{% extends "base/base.html" %}
{% load static %}

{% block titre %}
{{ data.username }}
{% endblock titre %}

{% block css %}
{% static "css/index.css" %}
{% endblock css %}

{% block contenu %}
<div class="users">
    {% for values in data %}
    <div class="user">
        <img src="https://symfony-instawish.formaterz.fr{{values.imageUrl}}">
        <p>{{ values.description }}</p>
        <a href="{% url 'todo-post-url' values.id %}">Like</a>
    </div>
    {% endfor %}
</div>
{% endblock contenu %}