body {
    background-color: bisque;
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: inline;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient( to bottom, #ffcccc, #ffcccc 20%, transparent, transparent, #ffcccc 40%, #ffcccc 60%, transparent, transparent, #ffcccc 80%, #ffcccc 100%);
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #ffcccc;
    opacity: 90%;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: #109691;
    font-size: 2.2rem;
}

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a {
    color: #109691;
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}

#hamburger-input:checked~.overlay {
    visibility: visible;
    opacity: 0.4;
}